@{
    ViewData["Title"] = "Testing several forms on one Page";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Form1Posted">
    <div class="mb-3">
        <input type="submit" value="Post form 1" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>    
</form>

<form method="post" asp-action="Form2Posted">
    <div class="mb-3">
        <input type="submit" value="Post form 2" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>    
</form>