@model Web.ViewModels.Tenants.TenantsVm;

@{
    ViewData["Title"] = "Tenants - Index";
}

<h1> Tenants - Index</h1>

@foreach (var tenant in Model.Tenants)
{
    <span>@tenant.Id - @tenant.Name</span><br/>
}