@model IEnumerable<Application.Models.Github.Responses.GithubRepositoryInfo>

@{
    ViewData["Title"] = "Repositories list";
}

<div class="text-center">
    <h1 class="display-4">Repositories list (public)</h1>
</div>
<div>
    <ol>
        @foreach (var repoInfo in Model)
        {
            <li>
                @repoInfo.Name
            </li>
        }
    </ol>
</div>